  body 
{ 
 background-image: url("background.jpg");
}

  .heading {
      width: 100%;
      margin: 0px;
      box-shadow: 5px 5px 5px grey;
      font-size:25px !important;
      
  }

  .heading_div {
      background: white;
      border-radius: 20px;
      color: black;
      box-shadow: 5px 5px 5px grey;
      width: 35%;
      height: 10%;
      float: none;
      padding: 10px;
    
      
  }

  .heading_div2 {
      font-size: 18px;
  }

  .result_para_tag {
      box-shadow: 5px 5px 5px grey;
      font-size: 20px;
  }

.copy_right_footer
{
  background-color: gray;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    line-height: 3;
    font-size: 25px;
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 150px;
    box-shadow: 5px 5px 5px grey;
}

@keyframes example {
    from {
        box-shadow: 2px 2px 38px red;
    }

    to {
        box-shadow: 2px 2px 38px yellow;
    }
}

